<!DOCTYPE html>
<html ng-app='mockdraft' ng-controller='MainController'>
  <head>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="styles/style.css" />

    <!-- Scripts -->
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/angular/angular.min.js"> </script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
  </head>
  <body>
    <h1>NFL Mock Draft Simulator</h1>
    
      <div class="container">First Round completed.
        <form>
          <br>Name of Mock Draft<br>
          <input type="text" name="name" ng-model="saveName"><br>
          <button ng-click="saveMockDraft(saveName, draft)">Save Mock Draft</button>
        </form>
      </div>


      <div class="players" ui-view="playersView"></div> <!-- Template for Players  -->
      <div class="container"></div>
      <div class="draft" ui-view="draftView"></div><!-- Template for Draft Order / Picks -->


  <script src="app/players/players.js"></script>
  <script src="app/draft/draft.js"></script>
  <script src="app/app.js"></script> 
  </body>
  <footer>
  </footer>
</html>



<!-- 
      <div class="container" ng-if="draft.length + 1 < 33">Current Selection: {{draftData[draft.length].team || "Tennessee Titans"}} with Pick {{draft.length + 1}} 
      </div>
      <div class="container" ng-hide="draft.length + 1 < 33">First Round completed. -->